<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Főoldal</title>
</head>
<body>
<div class="topnav">
    <img th:src="@{/images/ikon.png}" style="width:50px" height="50px" align="left" class="paddingleft">
    <a class="active" href="index">Főoldal</a>
    <a href="topOffers">Top Offers</a>
    <a href="processors">Processors</a>
    <a href="gpus">Graphics cards</a>
    <img th:src="@{/images/basket.png}" style="width:50px" height="50px" align="right" class="paddingleft">
    <a href="register">Regisztráció</a>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Üdvözöllek a főoldalon, ez itt egy teszt projekt, és egy egyben egy példa projekt is jövőbeni felhasználásra.</h1>
            <img th:src="@{/images/thumbsup.jpg}" style="width:100%">
        </div>
    </div>
</div>
<footer>
    <h1 class="foot">Sabolc Kft Pc webshop</h1>
</footer>
</body>
</html>