<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Processzorok</title>
</head>
<body>
<div class="topnav">
    <img th:src="@{/images/ikon.png}" style="width:50px" height="50px" align="left" class="paddingleft">
    <a class="active" href="index">Főoldal</a>
    <a href="topOffers">Top Offers</a>
    <a href="processors">Processors</a>
    <a href="gpus">Graphics cards</a>
    <a href="register">Regisztráció</a>
    <a href="login">Belépés</a>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="focim">Processzorok</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <div class="boxing">
                <img th:src="@{/images/processzorOne.png}" style="width:100%">
                <form action="/previewCpu" method="get">
                    <input type="hidden" name="id" value="1">
                    <input type="submit" value="Intel I5 Processzor">
                </form>
                <hr>
                <p>Magok száma: 6, Órajel: 3.0Ghz, Foglalat:LGA</p>
                <p style = "text-align:left" class="ertek"> 88.999 Ft
                <form action="/basket" method="get">
                    <input type="hidden" name="id" value="7">
                    <button type="submit" class="button">Kosárhoz adás!</button>
                </form>
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="boxing">
                <img th:src="@{/images/processzorSecond.png}" style="width:100%">
                <form action="/previewCpu" method="get">
                    <input type="hidden" name="id" value="2">
                    <input type="submit" value="Intel I3 Processzor">
                </form>
                <hr>
                <p>Magok száma: 4, Órajel: 3.0Ghz, Foglalat:LGA</p>
                <p style = "text-align:left" class="ertek"> 48.999 Ft
                <form action="/basket" method="get">
                    <input type="hidden" name="id" value="8">
                    <button type="submit" class="button">Kosárhoz adás!</button>
                </form>
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="boxing">
                <img th:src="@{/images/processzorThird.png}" style="width:100%">
                <form action="/previewCpu" method="get">
                    <input type="hidden" name="id" value="3">
                    <input type="submit" value="Intel I3 Processzor">
                </form>
                <hr>
                <p>Magok száma: 4, Órajel: 3.0Ghz, Foglalat:LGA</p>
                <p style = "text-align:left" class="ertek"> 48.9999 Ft
                <form action="/basket" method="get">
                    <input type="hidden" name="id" value="9">
                    <button type="submit" class="button">Kosárhoz adás!</button>
                </form>
                </p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <div class="boxing">
                <img th:src="@{/images/processzorFourth.png}" style="width:100%">
                <form action="/previewCpu" method="get">
                    <input type="hidden" name="id" value="4">
                    <input type="submit" value="Intel I3 Processzor">
                </form>
                <hr>
                <p>Magok száma: 6, Órajel: 3.0Ghz, Foglalat:LGA</p>
                <p style = "text-align:left" class="ertek"> 48.999 Ft
                <form action="/basket" method="get">
                    <input type="hidden" name="id" value="10">
                    <button type="submit" class="button">Kosárhoz adás!</button>
                </form>
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="boxing">
                <img th:src="@{/images/processzorFifth.png}" style="width:100%">
                <form action="/previewCpu" method="get">
                    <input type="hidden" name="id" value="5">
                    <input type="submit" value="Intel I7 Processzor">
                </form>
                <hr>
                <p>Magok száma: 4, Órajel: 3.0Ghz, Foglalat:LGA</p>
                <p style = "text-align:left" class="ertek"> 148.999 Ft
                <form action="/basket" method="get">
                    <input type="hidden" name="id" value="11">
                    <button type="submit" class="button">Kosárhoz adás!</button>
                </form>
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="boxing">
                <img th:src="@{/images/processzorSixth.png}" style="width:100%">
                <form action="/previewCpu" method="get">
                    <input type="hidden" name="id" value="6">
                    <input type="submit" value="Intel I7 Processzor">
                </form>
                <hr>
                <p>Magok száma: 4, Órajel: 3.0Ghz, Foglalat:LGA</p>
                <p style = "text-align:left" class="ertek"> 148.9999 Ft
                <form action="/basket" method="get">
                    <input type="hidden" name="id" value="12">
                    <button type="submit" class="button">Kosárhoz adás!</button>
                </form>
                </p>
            </div>
        </div>
    </div>
</div>
<footer>
    <h1 class="foot">Sabolc Kft Pc webshop</h1>
</footer>
</body>
</html>